<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vcName</key>
		<string>SLNoteViewController</string>
		<key>iconName</key>
		<string>tool_note</string>
		<key>toolName</key>
		<string>记账本</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>SLIdCardViewController</string>
		<key>iconName</key>
		<string>tool_idcard</string>
		<key>toolName</key>
		<string>身份证号码查询</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>SLNewsViewController</string>
		<key>iconName</key>
		<string>tool_news</string>
		<key>toolName</key>
		<string>新闻</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>SLCalendarViewController</string>
		<key>iconName</key>
		<string>tool_calendar</string>
		<key>toolName</key>
		<string>万年历</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>SLDeliveryViewController</string>
		<key>iconName</key>
		<string>tool_express</string>
		<key>toolName</key>
		<string>快递查询</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>SLJokeViewController</string>
		<key>iconName</key>
		<string>tool_xiaohua</string>
		<key>toolName</key>
		<string>笑话大全</string>
	</dict>
</array>
</plist>
